# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [6]:
import pandas as pd
import numpy as np

# pa quitar warnings
import warnings
warnings.simplefilter('ignore')

import matplotlib.pyplot as plt

# ols = minimos cuadrados ordinarios, regresion lineal
import statsmodels.api as sm
from statsmodels.formula.api import ols

# esto son distribuciones
from scipy.stats import ttest_rel  # con muestras dependientes
from scipy.stats import ttest_ind # con muestras independientes
from statsmodels.multivariate.manova import MANOVA
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [7]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [27]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [52]:
poke_reg = pokemon[pokemon['Legendary'] == False]['Legendary']
poke_reg

0      False
1      False
2      False
3      False
4      False
       ...
787    False
788    False
789    False
790    False
791    False
Name: Legendary, Length: 735, dtype: bool

In [53]:
poke_reg_count = poke_reg.count() 
poke_reg_count

735

In [54]:
poke_leng = pokemon[pokemon['Legendary'] == True]['Legendary']
poke_leng

156    True
157    True
158    True
162    True
163    True
       ...
795    True
796    True
797    True
798    True
799    True
Name: Legendary, Length: 65, dtype: bool

In [55]:
poke_leng_count = poke_leng.count()
poke_leng_count

65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [60]:
poke_reg = pokemon[pokemon['Legendary'] == False]['Total']
poke_reg

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [61]:
poke_leng = pokemon[pokemon['Legendary'] == True]['Total']
poke_leng

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [62]:
poke_describe = pokemon.groupby([pokemon['Legendary'] == True])['Total']
poke_describe.describe()

#los true son los legendarios en este caso, los false son los normales

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
True        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
rate['city_index'] = rate.groupby('City').cumcount()

In [ ]:
rate_pivot = rate.pivot(columns=poke_reg, values='Rate', index='city_index')

rate_pivot

In [ ]:
# chequear q son ind, pero si lo son
# calcular chi2

rate_pivot[[1, 3]].head()

ji_dos, pval, dof, ex = chi2_contingency(rate_pivot[[1, 3]])

In [66]:
# ttest_ind(ab_test.a, ab_test.b, alternative='two-sided') independientes
# ttest_rel(b_pres.before, b_pres.after) dependientes

#h0 = iguales
#h1 != iguales, osea diferentes

ttest_ind(poke_reg, poke_leng, alternative='two-sided', equal_var=False)

TtestResult(statistic=-25.8335743895517, pvalue=9.357954335957444e-47, df=102.79988763435729)

In [64]:
poke_reg.mean(), poke_leng.mean()

(417.21360544217686, 637.3846153846154)

In [65]:
poke_reg.std(), poke_leng.std()

(106.76041745713005, 60.93738905315344)

What do you conclude from this test? Write your conclusions below.

In [6]:
# pvalue=9.357954335957444e-47, es menor que el umbral
# podemos rechazar H0, y decir que existe una diferencia significativa entre ambas muestras

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [73]:
#column tipo 1 hay diferencias entre los distintos tipos
#varias muestras

poke_types = pokemon['Type 1'].value_counts()
poke_types

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [80]:
poke_describe = pokemon.groupby('Type 1')['Total']
poke_describe.describe()

          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  378.927536  117.875223  194.0  269.00  395.0  475.00  600.0
Dark       31.0  445.741935  109.126217  220.0  359.00  465.0  510.00  680.0
Dragon     32.0  550.531250  146.267538  300.0  420.00  600.0  680.00  780.0
Electric   44.0  443.409091  105.721952  205.0  362.25  477.5  520.00  610.0
Fairy      17.0  413.176471  123.781680  218.0  323.00  405.0  483.00  680.0
Fighting   27.0  416.444444  102.464378  210.0  326.50  455.0  497.50  625.0
Fire       52.0  458.076923  109.760496  250.0  368.00  482.0  534.00  680.0
Flying      4.0  485.000000  161.400124  245.0  462.50  557.5  580.00  580.0
Ghost      32.0  439.562500  110.072685  275.0  335.00  464.5  495.75  680.0
Grass      70.0  421.142857  106.650626  180.0  318.50  430.0  497.00  630.0
Ground     32.0  437.500000  123.913081  265.0  329.50  440.0  512.25  770.0
Ice        24.0  433.458333  108.281027  250.0  305.00  467.5  526.25  580.0
Normal     98.0  401.683673  115.733038  190.0  302.50  415.0  481.50  720.0
Poison     28.0  399.142857   92.358687  245.0  323.75  401.5  490.00  535.0
Psychic    57.0  475.947368  139.026645  198.0  336.00  485.0  600.00  780.0
Rock       44.0  453.750000  108.059227  280.0  360.25  467.5  516.50  700.0
Steel      27.0  487.703704  115.420907  300.0  425.00  500.0  580.00  700.0
Water     112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

In [ ]:
#Water ->	mean=430.455357,	std=113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:
cosas dependientes

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: